@font-face {
  font-family: googlefonts;
  src: url(../Assets/Raleway/Raleway-VariableFont_wght.ttf);
}
body {
  background: #041c32;
}
* {
  font-family: googlefonts;
}
#college {
  left: 10px;
  right: 10px;
  width: 100%;
  z-index: -1;
}
img.id {
  position: absolute;
  left: 77%;
  right: 3%;
  width: 20%;
  top: 25%;
  z-index: 0;
}
.name {
  margin-left: 12px;
}
h2.name {
  color: white;
  margin-top: 7px;
  margin-bottom: 7px;
}
h3.name {
  color: white;
  margin-top: 7px;
  margin-bottom: 7px;
}
div.rectangle {
  position: absolute;
  width: 442px;
  height: 457px;


  background: rgba(1, 0, 53, 0.47);
  border: 1px solid #ffffff;
  border-radius: 15px;
}
