h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color: blueviolet;
}