* {
    max-width: 100%;
}
img {
    width: 300px;
    height: 300px;
}
#desc {
    width: 600px;
}
#price {
    width: 150px;
}
td {
    text-align: center;
}
table th, table td{
    border: 2px solid black;
}
th {
    background-color: aqua;
}
table {
    background-color: bisque;
}