tr img {
    width: 400px;
    height: 400px;
}
table {
    background-color: darkgrey;
    padding: 20px;
    border: 20px;
    border-color: black;
}
tr th {
    color: rgb(0, 106, 255);
    margin-bottom: 0px;
    color: antiquewhite;
    background-color: blue;
    padding: 10px;
}
td {
    min-width: 200px;
    max-width: 600px;
    text-align: center;
}
