@font-face {
  font-family: googlefont;
  src: url(/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
body {
  font-family: googlefont;
}
h1.Briads {
  text-shadow: 2px 1px 5px;
}
.Briads {
  color: rgb(0, 104, 104);
}
p.desc {
  color: rgb(0, 104, 104);
}
p.heading {
  font-weight: 300;
}
p.author {
  text-align: right;
}
#name {
  text-decoration: wavy;
  font-weight: bolder;
  font-style: italic;
}
#name::first-letter{
    font-size: 200%;
}
h3.Briads{
    font-size: 40px;
}
#S {
    font-size: 50px;
}